* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    height: 100vh;
}

header {
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;;
    background-color: #404040;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
}

.modal-content h2 {
    text-align: center;
    padding: 1rem;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
} 

.modal-form label {
    grid-column: 1 / 2;
    margin: 0.5rem;
    padding: 0.5rem;
}   

.modal-form input {
    grid-column: 2 / 3;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #404040;
    border-radius: 0.5rem;
}

.modal-form #submit {
    grid-column: span 2;
}
