* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    height: 100vh;
}

header {
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header .button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;;
    background-color: #404040;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal {
    width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    border-color: #404040;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    text-align: center;
    padding: 1rem;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
} 

.modal-form label {
    grid-column: 1 / 2;
    margin: 0.5rem;
    padding: 0.5rem;
}   

.modal-form input {
    grid-column: 2 / 3;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #404040;
    border-radius: 0.5rem;
}

.modal-form #submit {
    grid-column: span 2;
    background-color: #404040;
    color: #fff;
}


.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    
}

.book-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    max-width: 20rem;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
}

.book-card h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.book-card h3 {
    font-size: 1rem;
    font-weight: 400;
}

.book-card button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;;
    background-color: #404040;
    color: #fff;
    width: 100%;
}

.book-card img {

    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
    object-fit: cover;

}