* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    height: 100vh;
}

header {
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;;
    background-color: #404040;
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
    display: gird;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}


